* {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
}
nav {
    height: 50px;
    background: #212121;
    position: fixed;
    width: 100%;
}

.menu {
    display: flex; /* чтобы список вывести в ряд */
    justify-content: space-between; /* чтобы равномерно по горизонтали */
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: white;
    text-decoration: none; /* убираем нижнее подчеркивание у ссылок */
}

.menu .menu_item {
    border-right: 2px dotted black; /* черточка черная
     пунктирная между ссылками  */
    padding-right: 40px;
}
.subheader {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0,0.6); /* 0.6 прозрачность */
}

.subheader .subheader_logo {
    display: block; /* для ссылок обязательно 
    иначе не будлет работать марджигн */
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_oficial {
    margin-top: 6px;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: white;
    opacity: 0.5; /* прозрачность текста */
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    color: white;
    text-align: right;
    margin-top: 19px;
    
}

.subheader .subheader_numero {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: white;
    text-align: right;
    text-transform: uppercase;
    line-height: 30px
}

.subheader .subheader_btn {
    width: 172px;
    height: 46px;
    margin-top: 19px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo {
    min-height: 800px;
    background: url(../img/uber_bg.png) center center/cover no-repeat;
    padding: 170px 0 185px 0
}

.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;      /* чтобы убрать марджин встроенный */
}

.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 15px;
    color: #FFFFFF;   
}

.promo .promo_descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}

.promo .promo_btn {
    display: block; /* для того что бы сработали марджины */
    margin: 0 auto;
    margin-top: 116px;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.causa {
    padding: 18px 0 64px 0;
}

.ventajas {
    margin: 0 auto;
    width: 115px;
    height: 24px;
    padding: 5px 12px;
    background: #000000;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

.causa_title {
    margin-bottom: 0;
    margin-top: 38px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.causa .causa_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.causa .causa_block .causa_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    border-radius:100%;
    background: #1EACC7;
}
.causa .causa_block .causa_descr {
    width: 371px; /* без этого параметра круглешки это овалы */
}

.causa .causa_block .causa_descr .causa_subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.causa .causa_block .causa_descr .causa_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
}

.mobile {
padding: 46px 0 80px 0;
}

.posibilidades {
    margin: 0 auto;
    width: 115px;
    height: 24px;
    padding: 5px 12px;
    background: #000000;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

.mobile_title {
    margin-bottom: 0;
    margin-top: 33px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.mobile_subtitle {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #222222;
}